.react-datepicker-wrapper {
  .react-datepicker__input-container {
    input {
      width: 13.2rem;
      border-radius: 1rem;
      border: 1px solid $dark-color;
      text-align: center;
    }
  }
}
