@charset "UTF-8";

header {
  margin: 2rem 0;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    li {
      width: 15rem;
      border: 1px solid $black-color;
      margin-right: 0.8rem;
      margin-bottom: 0.4rem;
      transition: background-color 0.25s, color 0.25s;
      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        background-color: rgba($dark-color, 0.6);
      }

      &.active {
        background-color: $dark-color;
        a {
          color: $white-color;
        }
      }

      a {
        display: inline-block;
        width: calc(100% - 2rem);
        height: calc(100% - 1.6rem);
        padding: 0.8rem 1rem;
      }
    }
  }
}
