@charset "UTF-8";

.routing {
  .routing-container {
    display: flex;
    ul {
      width: 12rem;
      li {
        margin-bottom: 1rem;
        a {
          font-size: 1.8rem;
          font-weight: bold;
          border-bottom: 1.5px dotted $dark-color;
        }
      }
    }
    .pagination {
      ul {
        width: 30rem;
      }
    }
  }
}
