@charset "UTF-8";

.switch {
  .radio-btn {
    display: flex;
    width: 16rem;
    align-items: center;
    border: 1px solid $dark-color;
    border-radius: 2rem;
    label {
      flex: 1 1;
      height: 2.4rem;
      position: relative;
      overflow: hidden;
      &:first-child {
        border-radius: 2rem 0 0 2rem;
      }
      &:last-child {
        border-radius: 0 2rem 2rem 0;
      }
      &:not(:last-child) {
        &:after {
          content: "";
          display: block;
          position: absolute;
          height: calc(100% - 0.6rem);
          top: 0.3rem;
          right: 0;
          width: 0.1rem;
          background-color: $dark-color;
        }
      }
      input {
        display: none;
        &:checked {
          & + span {
            background-color: $dark-color;
            color: $white-color;
          }
        }
      }
      span {
        display: flex;
        padding: 0.3rem;
        align-items: center;
        justify-content: center;
        transition: background-color 0.25s;
        &:hover {
          background-color: rgba($dark-color, 0.6);
        }
      }
    }
  }
}
